body {
  margin: 0;
  padding: 0;
  background-color: #424242;
  color: #ffffff;
}

.navPadding {
  padding-left: 15px;
  padding-right: 10px;
}

.upVote {
  width: 24px;
  height: 24px;
  position: relative;
  right: 4px;
  margin-right: 10px;
  padding: 0px;
  border-radius: 50%;
  font-size: 11px;
}

.upVoteText {
  position: relative;
  bottom: 6px;
}

.closeButton {
  text-align: right;
}

.piecePadding {
  padding: 5px;
  margin: 5px;
}

.pieceDivider {
  opacity: 0.25;
}

/* TEMPORARY */
.tempList {
  height: 1000px;
}